   
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="../scss/main.scss")
    title Clicker Colony
  body 
    header.mb-3.text-center
      h1 Colony Clicker
    main
      ul.nav.nav-tabs#colonyTab(role="tablist")
        li.nav-item(role="presentation")
          button.nav-link.active#home-tab(data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true") Home
        li.nav-item(role="presentation")
          button.nav-link#building-tab(data-bs-toggle="tab" data-bs-target="#building" type="button" role="tab" aria-controls="building" aria-selected="true") Buildings
      .tab-content#tabContent
        .tab-pane.fade.show.active#home(role="tabpanel" aria-labelledby="home-tab")
          include resource-buttons.pug
        .tab-pane.fade#building(role="tabpanel" aria-labelledby="building-tab")
          include buildings.pug
      
    script(src="../js/app.js")
