- 
  const resourceBlocks = [
      { id: "coins", name: "CyberCoins", icon: "bi-cash-stack" },
      { id: "colonists", name: "Colonists", icon: "bi-people-fill" },
      { id: "power", name: "Power", icon: "bi-lightning-fill" },
      { id: "copper", name: "Copper", icon: "bi-pentagon-fill" },
      { id: "lead", name: "Lead", icon: "bi-suit-spade-fill" },
    ]

mixin resourceBlock(id, name, icon)
  .col-12
    .card
      .card-body.d-flex.flex-row.p-0 
        button.btn.resource-btn.p-0(id=id + '-button') 
          i.d-flex.align-items-center.justify-content-center.bi(class='' + icon).resource-icon-size
        .d-flex.align-items-center.flex-grow-1.border-start 
          span.ms-2.text-start.resource-name-min-width #{name}
        .d-flex.align-items-center.border-start 
          span.ms-2.resource-amount-min-width(id=id + '-amount')
        .d-flex.align-items-center.border-start 
          span.ms-2.resource-change-min-width(id=id + '-change')

.row.gy-1.px-0
  each block in resourceBlocks
    +resourceBlock(block.id, block.name, block.icon)