- 
  const resourceBlocks = [
      { name: "CyberCoins", button: "Mine CyberCoins" },
      { name: "Power", button: "Generate" },
    ]

mixin resourceBlock(name, button)
  .col-12
    .input-group
      label.col-6.input-group-text= name
      button.col-6.btn.btn-outline-secondary= button

.container 
  .row.gx-2.gy-3
    each block in resourceBlocks
      +resourceBlock(block.name, block.button)