- 
  const resourceBlocks = [
      { id: "coins", name: "CyberCoins", icon: "bi-cash-stack" },
      { id: "colonists", name: "Colonists", icon: "bi-people-fill" },
      { id: "power", name: "Power", icon: "bi-lightning-fill" },
      { id: "copper", name: "Copper", icon: "bi-pentagon-fill" },
      { id: "lead", name: "Lead", icon: "bi-suit-spade-fill" },
    ]

mixin resourceBlock(id, name, icon)
  .col-12
    .input-group
      label.col-10.input-group-text 
        i.bi(class='' + icon)
        span.ms-2.text-start.resource-name #{name}
        span.ms-2.resource-amount(id=id + '-amount')
        span.ms-2.resource-change(id=id + '-change')
      button.col-2.btn.btn-outline-secondary(id=id + '-button')
        i.bi.bi-plus-square-fill(style='color: green;')

.container.px-0 
  .row.gx-2.gy-3
    each block in resourceBlocks
      +resourceBlock(block.id, block.name, block.icon)