.building-icon-size {
  height: $building-icon-size;
  width: $building-icon-size;
}

.building-name-min-width {
  min-width: $building-name-min-width;
}

.building-level-min-width {
  min-width: $building-level-min-width;
}

.building-workers-min-width {
  min-width: $building-workers-min-width;
}
