.resource-name {
  min-width: $resource-name-min-width;
}

.resource-amount {
  min-width: $resource-amount-min-width;
}

.resource-change {
  min-width: $resource-change-min-width;
}

.resource-btn {
  padding: 0;
  border: 1px solid red;
}

.resource-icon {
  height: $resource-icon-size;
  width: $resource-icon-size;
}
