$primary: yellow;
$body-bg: lightblue;

$resource-icon-size: 2.5rem;
$resource-name-min-width: 10ch;
$resource-amount-min-width: 4ch;
$resource-change-min-width: 4ch;

$building-icon-size: 2.5rem;
$building-name-min-width: 11ch;
$building-level-min-width: 2ch;
$building-workers-min-width: 2ch;
